:root {
	/* font-family */
	--font-family: "OpenSans", sans-serif;
	--second-family: "NAMUPro", sans-serif;

	/* container */
	--container-width: 1390px;
	--container-padding: 15px;

	/* transitions */
	--transition-time: 0.2s;
	/* colors */
	--main-color: #000;
	--second-color: #111;
	--trird-color: #f8f8f8;

	/* shadows */

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
	--layer-4: 4;
}
